
chessengine
cmake-build-debug/ChessEngineC
cmake-build-debug/ChessEngineC.cbp
cmake-build-debug/cmake_install.cmake
cmake-build-debug/CMakeCache.txt
cmake-build-debug/CMakeFiles/3.16.5/CMakeCCompiler.cmake
cmake-build-debug/CMakeFiles/3.16.5/CMakeDetermineCompilerABI_C.bin
cmake-build-debug/CMakeFiles/3.16.5/CMakeSystem.cmake
cmake-build-debug/CMakeFiles/3.16.5/CompilerIdC/a.out
cmake-build-debug/CMakeFiles/3.16.5/CompilerIdC/CMakeCCompilerId.c
cmake-build-debug/CMakeFiles/3.17.5/CMakeCCompiler.cmake
cmake-build-debug/CMakeFiles/3.17.5/CMakeDetermineCompilerABI_C.bin
cmake-build-debug/CMakeFiles/3.17.5/CMakeSystem.cmake
cmake-build-debug/CMakeFiles/3.17.5/CompilerIdC/a.out
cmake-build-debug/CMakeFiles/3.17.5/CompilerIdC/CMakeCCompilerId.c
cmake-build-debug/CMakeFiles/ChessEngineC.dir/board.c.o
cmake-build-debug/CMakeFiles/ChessEngineC.dir/build.make
cmake-build-debug/CMakeFiles/ChessEngineC.dir/C.includecache
cmake-build-debug/CMakeFiles/ChessEngineC.dir/depend.internal
cmake-build-debug/CMakeFiles/ChessEngineC.dir/depend.make
cmake-build-debug/CMakeFiles/ChessEngineC.dir/DependInfo.cmake
cmake-build-debug/CMakeFiles/ChessEngineC.dir/flags.make
cmake-build-debug/CMakeFiles/ChessEngineC.dir/main.c.o
cmake-build-debug/CMakeFiles/ChessEngineC.dir/moves.c.o
cmake-build-debug/CMakeFiles/clion-log.txt
cmake-build-debug/CMakeFiles/CMakeDirectoryInformation.cmake
cmake-build-debug/CMakeFiles/CMakeOutput.log
cmake-build-debug/CMakeFiles/Makefile.cmake
cmake-build-debug/CMakeFiles/Makefile2
cmake-build-debug/CMakeFiles/TargetDirectories.txt
cmake-build-debug/Makefile
cmake-build-debug/Testing/Temporary/LastTest.log
cmake-build-debug/ChessEngineC.cbp
cmake-build-debug/cmake_install.cmake
cmake-build-debug/CMakeCache.txt
cmake-build-debug/CMakeFiles/3.16.5/CMakeCCompiler.cmake
cmake-build-debug/CMakeFiles/3.16.5/CMakeDetermineCompilerABI_C.bin
cmake-build-debug/CMakeFiles/3.16.5/CMakeSystem.cmake
cmake-build-debug/CMakeFiles/3.16.5/CompilerIdC/a.out
cmake-build-debug/CMakeFiles/3.16.5/CompilerIdC/CMakeCCompilerId.c
cmake-build-debug/CMakeFiles/ChessEngineC.dir/build.make
cmake-build-debug/CMakeFiles/ChessEngineC.dir/depend.make
cmake-build-debug/CMakeFiles/ChessEngineC.dir/DependInfo.cmake
cmake-build-debug/CMakeFiles/ChessEngineC.dir/flags.make
cmake-build-debug/CMakeFiles/clion-log.txt
cmake-build-debug/CMakeFiles/CMakeDirectoryInformation.cmake
cmake-build-debug/CMakeFiles/CMakeOutput.log
cmake-build-debug/CMakeFiles/Makefile.cmake
cmake-build-debug/CMakeFiles/Makefile2
cmake-build-debug/CMakeFiles/TargetDirectories.txt
cmake-build-debug/Makefile
cmake-build-debug/ChessEngineC.cbp
cmake-build-debug/cmake_install.cmake
cmake-build-debug/CMakeCache.txt
cmake-build-debug/CMakeFiles/3.16.5/CMakeCCompiler.cmake
cmake-build-debug/CMakeFiles/3.16.5/CMakeDetermineCompilerABI_C.bin
cmake-build-debug/CMakeFiles/3.16.5/CMakeSystem.cmake
cmake-build-debug/CMakeFiles/3.16.5/CompilerIdC/a.out
cmake-build-debug/CMakeFiles/3.16.5/CompilerIdC/CMakeCCompilerId.c
cmake-build-debug/CMakeFiles/ChessEngineC.dir/build.make
cmake-build-debug/CMakeFiles/ChessEngineC.dir/depend.make
cmake-build-debug/CMakeFiles/ChessEngineC.dir/DependInfo.cmake
cmake-build-debug/CMakeFiles/ChessEngineC.dir/flags.make
cmake-build-debug/CMakeFiles/clion-log.txt
cmake-build-debug/CMakeFiles/CMakeDirectoryInformation.cmake
cmake-build-debug/CMakeFiles/CMakeOutput.log
cmake-build-debug/CMakeFiles/Makefile.cmake
cmake-build-debug/CMakeFiles/Makefile2
cmake-build-debug/CMakeFiles/TargetDirectories.txt
cmake-build-debug/Makefile
cmake-build-debug/ChessEngineC.cbp
.idea/.name
cmake-build-debug/ChessEngineC.cbp
cmake-build-debug/cmake_install.cmake
cmake-build-debug/CMakeCache.txt
cmake-build-debug/CMakeFiles/3.16.5/CMakeCCompiler.cmake
cmake-build-debug/CMakeFiles/3.16.5/CMakeDetermineCompilerABI_C.bin
cmake-build-debug/CMakeFiles/3.16.5/CMakeSystem.cmake
cmake-build-debug/CMakeFiles/3.16.5/CompilerIdC/a.out
cmake-build-debug/CMakeFiles/3.16.5/CompilerIdC/CMakeCCompilerId.c
cmake-build-debug/CMakeFiles/ChessEngineC.dir/build.make
cmake-build-debug/CMakeFiles/ChessEngineC.dir/depend.make
cmake-build-debug/CMakeFiles/ChessEngineC.dir/DependInfo.cmake
cmake-build-debug/CMakeFiles/ChessEngineC.dir/flags.make
cmake-build-debug/CMakeFiles/clion-log.txt
cmake-build-debug/CMakeFiles/CMakeDirectoryInformation.cmake
cmake-build-debug/CMakeFiles/CMakeOutput.log
cmake-build-debug/CMakeFiles/Makefile.cmake
cmake-build-debug/CMakeFiles/Makefile2
cmake-build-debug/CMakeFiles/TargetDirectories.txt
cmake-build-debug/Makefile
cmake-build-debug/CMakeFiles/ChessEngineC.dir/cmake_clean.cmake
cmake-build-debug/CMakeFiles/ChessEngineC.dir/link.txt
cmake-build-debug/CMakeFiles/ChessEngineC.dir/progress.make
cmake-build-debug/CMakeFiles/clion-environment.txt
cmake-build-debug/CMakeFiles/cmake.check_cache
cmake-build-debug/CMakeFiles/progress.marks
git-quick-stats/
perf.data
oldmain.c
cmake-build-debug/CMakeFiles/ChessEngineC.dir/zobrist.c.o
cmake-build-debug/CMakeFiles/ChessEngineC.dir/perft.c.o
cmake-build-debug-coverage/ChessEngineC.exe
cmake-build-debug-coverage/CMakeFiles/ChessEngineC.dir/bitops.c.gcda
cmake-build-debug-coverage/CMakeFiles/ChessEngineC.dir/bitops.c.gcno
cmake-build-debug-coverage/CMakeFiles/ChessEngineC.dir/bitops.c.obj
cmake-build-debug-coverage/CMakeFiles/ChessEngineC.dir/board.c.gcda
cmake-build-debug-coverage/CMakeFiles/ChessEngineC.dir/C.includecache
cmake-build-debug-coverage/CMakeFiles/ChessEngineC.dir/eval.c.gcda
cmake-build-debug-coverage/CMakeFiles/ChessEngineC.dir/magic_bitboards.c.gcda
cmake-build-debug-coverage/CMakeFiles/ChessEngineC.dir/main.c.gcda
cmake-build-debug-coverage/CMakeFiles/ChessEngineC.dir/main.c.gcno
cmake-build-debug-coverage/CMakeFiles/ChessEngineC.dir/main.c.obj
cmake-build-debug-coverage/CMakeFiles/ChessEngineC.dir/moves.c.gcda
cmake-build-debug-coverage/CMakeFiles/ChessEngineC.dir/objects.a
cmake-build-debug-coverage/CMakeFiles/ChessEngineC.dir/perft.c.gcda
cmake-build-debug-coverage/CMakeFiles/ChessEngineC.dir/perft.c.gcno
cmake-build-debug-coverage/CMakeFiles/ChessEngineC.dir/perft.c.obj
cmake-build-debug-coverage/CMakeFiles/ChessEngineC.dir/search.c.gcda
cmake-build-debug-coverage/CMakeFiles/ChessEngineC.dir/uci.c.gcda
cmake-build-debug-coverage/CMakeFiles/ChessEngineC.dir/zobrist.c.gcda
cmake-build-debug-coverage/Testing/Temporary/LastTest.log
cmake-build-debug/ChessEngineC.exe
